.main {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 2em;
    margin: 0 auto;
}
p, span{
    margin-top: 1em;
    color: Black;
    font-size: 20pt;
}
.inner1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-radius: 10px;
    padding: 1em;
}
.inner2 {
    width: 100%;
    margin: 1em;
    padding-left: 1.5em;
}
