.main {
    font-family: sans-serif;
}
.container {
    background-color: rgb(13, 24, 44);
    padding: 1.7em 1.2em 0.3em 1.2em;
    margin: 0.5em;
    width: 16em;
    border-radius: 10px;
}
p {
    line-height: 1em;
    font-size: small;
    font-weight: 900;
    color: #FFC300;
    margin-top: -0.5em;
}
span {
    font-weight: 300;
    font-size: medium;
    line-height: 1.2em;
    color: white;
}